.site-box {
    background: url("https://haiverin.nekoweb.org/android-chrome-192x192.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}
.site-box .sitefeature {
    display: none;
}
.site-box:hover {
    transform: rotate(360deg);
    filter: grayscale(100%);
}
.site-box p {
    top: 100%;
}
.site-box a span {
    font-size: 16px;
    font-weight: 700;
    top: -20%;
}
